// Pagina de crear o editar un determinado blog

.blog-edit-create-container {
    h1 {
        font-family: $font-Poppins;
        margin-bottom: 1em;
        text-align: center;
        text-transform: uppercase;
        padding: 0 0 0.5em 0 !important;
    }
    #form {
        padding: 1em;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
            rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        border-radius: 3px;
        fieldset {
            leyend {
                h1 {
                    border-bottom: 1px solid black;
                    padding: 0.5em;
                }
            }
        }
        .input-holder {
            margin-bottom: 1em;
            label {
                font-family: $font-Poppins;
                font-weight: bold;
            }
            input,
            select {
                font-family: $font-Quicksand;
                &:focus {
                    background-color: rgb(255 171 7 / 7%);
                    border: $mustard;
                }
            }
        }
        .blog-edit-photo {
            .blog-picture-wrapper {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: flex-start;
                img {
                    margin-bottom: 0.5em;
                    align-self: center;
                    width: 12em;
                    height: 8em;
                    object-fit: cover;
                    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
                        rgba(0, 0, 0, 0.24) 0px 1px 2px;
                }
            }
        }
        .form-footer {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;
        }
    }

    @media (min-width: map-get($breakpoints, sm)) {
        .form-footer {
            justify-content: flex-end !important;
            .yellow-button {
                width: 10em;
            }
        }
    }
    @media (min-width: map-get($breakpoints, lg)) {

    }
}
